html {
background-color: #ffecd1;
font-size: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
text-align: center;
font-size: 300%;
}

h2{
text-align: center;
font-size: 175%;
}

h3 {
text-align: center;
font-size: 125%;
}

h4 {
  font-size: 110%;
}

.tlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  height: 15em;
  opacity: 1;
}

.plogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13.2em;
  height: 13.2em;
  opacity: 1;
}

.zlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  height: 15em;
  opacity: 1;
}

.tcontainer {
max-width: 45%;
max-height: 45%;
float: left;
padding: 1em;
}

.pcontainer {
max-width: 45%;
max-height: 45%;
float: right;
padding: 1em;
}

.zcontainer {
max-width: 45%;
max-height: 45%;
float: left;
padding: 1em;
}

.firstblurb {
font-size: 110%;
max-width: 55em;
max-height: 35em;
padding: 0 35em 0 35em;
}


#terran-background {
background-color: #395c6b;
margin-bottom: 1.25em;
padding-top: .25%;
text-align: center;
}

#protoss-background {
background-color: #5b8e7d;
margin-bottom: 1.25em;
padding-top: .25%;
text-align: center;
}

#zerg-background {
background-color: #987284;
margin-bottom: 1.25em;
padding-top: .25%;
text-align: center;
}

.round-background {
border-radius: 1em;
padding: 1.5em;
}

 ul {
  list-style: none;
 }
